<% form_tag({:action => 'search', :format => 'csv'}, {:style => 'float:left'}) do -%>
  <%= hidden_field_tag 'date[year]', @current_date[:year] %>
  <%= hidden_field_tag 'date[month]', @current_date[:month] %>
  <%= submit_tag 'CSV出力' %>
<% end -%>
<% form_tag :action => 'pdf' do -%>
  <%= hidden_field_tag 'date[year]', @current_date[:year] %>
  <%= hidden_field_tag 'date[month]', @current_date[:month] %>
  <%= submit_tag '内示書出力' %>
<% end -%>
<table class="table">
  <tr>
    <th class="first" style="width:50%">商品名</th>
    <th style="width:25%">発注日</th>
    <th class="last" style="width:25%">発注数</th>
  </tr>
<% @stock_out_list.each_with_index do |stock_out, index| %>
  <tr class="<%=index%2? 'even':'odd'%>">
    <td><%=h stock_out.product.product_name %></td>
    <td><%=h stock_out.state_date %></td>
    <td><%=h stock_out[:purchase_quantity] %></td>
  </tr>
<% end %>
</table>
