<h1>Listing customers</h1>
<% form_tag({:action => 'index'}, :method => 'get') do %>
  <%= text_field_tag 'keyword', params[:keyword], :size => 30 %>
  <%= submit_tag("検索") %>
<% end %>

<table>
  <tr>
    <th>Customer name</th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= deliverable_link_to customer, @employee %>(<%=h customer.furigana %>)</td>
  </tr>

<% end %>
</table>

<%= link_to 'Logout', :controller => 'logins', :action => 'index' %>

<br />
