<h2>出荷可能一覧</h2>
<div style="padding:5px;">
<% form_tag({:action => 'index'}, :method => 'get', :class=>'form') do %>
  <div class="group">
  <label class="label">得意先のフリガナの中間一致で絞り込むことができます。</label>
  <%= text_field_tag 'keyword', params[:keyword], :size => 30 %>
  <%= hidden_field_tag 'employee_id', @employee.id %>
  <%= submit_tag("検索") %>
  </div>
<% end %>
</div>
<table class="table">
  <tr >
    <th class="first" style="width: 90%;">得意先</th>
    <th class="last"></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= deliverable_link_to customer, @employee %>(<%=h customer.furigana %>)</td>
    <td></td>
  </tr>

<% end %>
</table>

<br />
