<p>
  <b>Supplier:</b>
  <%=h @purchase.supplier_id %>
</p>

<p>
  <b>Purchase date:</b>
  <%=h @purchase.purchase_date %>
</p>

<p>
  <b>Arrival date:</b>
  <%=h @purchase.arrival_date %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>