<h1>Editing order</h1>

<% form_for(@order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :customer_id %><br />
    <%= f.text_field :customer_id %>
  </p>
  <p>
    <%= f.label :employee_id %><br />
    <%= f.text_field :employee_id %>
  </p>
  <p>
    <%= f.label :customer_name %><br />
    <%= f.text_field :customer_name %>
  </p>
  <p>
    <%= f.label :order_date %><br />
    <%= f.date_select :order_date %>
  </p>
  <p>
    <%= f.label :shipping_date %><br />
    <%= f.date_select :shipping_date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>