<h1>得意先一覧</h1>

<table class="table">
  <tr>
    <th class="first" style="width:15%;">ID</th>
    <th style="width:35%;">商品名</th>
    <th style="width:25%;">数量</th>
    <th class="last" style="width:25%;">出荷可能</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%=h product.order_descriptions.first.order_id %></td>
    <td><%=h product.product_name %></td>
    <td><%=h product.order_descriptions.first.quantity %></td>
    <td><%= deliverable_state product.stock_states.first%></td>
<% end %>
</table>

<%= link_to '戻る', :controller => 'charge', :action => 'index', :employee_id => @employee.id, :customer_id => @customer.id %>
<br />
