<h1>New product</h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :product_name %><br />
    <%= f.text_field :product_name %>
  </p>
  <p>
    <%= f.label :supplier_id %><br />
    <%= f.text_field :supplier_id %>
  </p>
  <p>
    <%= f.label :stock %><br />
    <%= f.text_field :stock %>
  </p>
  <p>
    <%= f.label :order_point %><br />
    <%= f.text_field :order_point %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', products_path %>