<h1>Listing suppliers</h1>

<table>
  <tr>
    <th>Supplier name</th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%=h supplier.supplier_name %></td>
    <td><%= link_to 'Show', supplier %></td>
    <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
    <td><%= link_to 'Destroy', supplier, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New supplier', new_supplier_path %>