<h1>New supplier</h1>

<% form_for(@supplier) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :supplier_name %><br />
    <%= f.text_field :supplier_name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', suppliers_path %>