<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" id="iphone-viewport" content="width=480, user-scalable=no, maximum-scale=0.6667" />
        <title>ERRS</title>
        <%= stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/default/style", :cache => true %>
        <%= javascript_include_tag :defaults%>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">ERRS</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><a href="/logout" class="logout"><%= t("web-app-theme.logout", :default => "Logout") %></a></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <% tabs = [["ホーム", "home"] ,["在庫遷移", "stock_states"], ["在庫切れ一覧","stockout"], ["出荷可能一覧","charge"]] %>
          <% tabs.each do |tab| %>
            <% if params[:controller] == tab.last %>
              <li class="active"><%= link_to tab.first, :controller => tab.last %></li>
            <% else %>
              <li><%= link_to tab.first, :controller => tab.last %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> Your Site.</p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
</body>
</html>
