<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ERRS 在庫切れ商品一覧</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults%>
</head>
<body>

<div style="float:left;"><a href="/"><%= image_tag("logo.png", :alt => "ERRS") %></a></div>
<div style="top:30px;position:relative;">～Enterprise Recycle Ruby Solution～</div>
<div style="clear:both"></div>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
